@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --roxo: #BC6FF1;
    --branco: #FFFFFF;
    --cinza: #666464;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-color: var(--branco);
}

.container {
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    background-color: var(--branco);
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

input, select {
    height: 40px;
    width: 300px;
    padding: 0 6px;
    color: var(--cinza);
}

label{
    width: 250px;
    text-align: left;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 120px;
    height: 40px;
    background-color: var(--roxo);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    font-family: "Poppins";
    cursor: pointer;
}

#limpar{
    margin-right: 10px;
}

#titulo{
    margin-bottom: 50px;
    color: var(--roxo);
}

.resultado{
    display: none;
    overflow: hidden;
}

table{
    margin-top: 50px;
    border-collapse: collapse;
    border-bottom: 1px solid var(--roxo);
    margin-bottom: 15px;
    height: 400px;
    overflow-y: auto;
}

th, td{
    padding: 10px;
    text-align: center;
}

th{
    border-top: 1px solid var(--roxo);
    border-bottom: 1px solid var(--roxo);
}
